@using Projekt_Programowanie.Models
@{
    ViewData["Title"] = "Generator";
}
@model GenerowanaKrzyzowka
<style>
    #pole_krzyzowki {
        width: 800px;
        height: 1000px;
        display: grid;
        place-items: center;
        background-color: #ccff99;
    }

    #kratka {
        width: 50px;
        height: 50px;
        border: solid;
        border-color: green;
        color: forestgreen;
        font-size: inherit;
    }

</style>
<div style="display: grid; place-items: center;" class="text-center">
    <h1 class="display-4 fw-bold">Witaj Przybyszu!</h1>
    <p>Tu będzie generator... Kiedyś</p>
    <div id="pole_krzyzowki">
        <table width="600" height="600">
            @for (int row = 0; row < Model.RozwiazywanaKrzyzowka.GetLength(0); row++)
            {
                <tr>
                    @for (int col = 0; col < Model.RozwiazywanaKrzyzowka.GetLength(1); col++)
                    {
                        <td id="kratka">
                            @Model.RozwiazywanaKrzyzowka[row, col]
                        </td>
                    }
                </tr>
            }
        </table>
            <form method="post" asp-controller="Cross" asp-action="Generator">
                <div class="form-group">
                    <input asp-for="Odpowiedz1" class="form-control text-black" />
                    <button type="submit" class="btn btn-outline-success float-right">Generuj</button>
                </div>
                <div class="form-group">
                    <input asp-for="Odpowiedz2" class="form-control text-black" />
                    <button type="submit" class="btn btn-success">Odpowiedz2</button>
                </div>
                <div class="form-group">
                    <input asp-for="Odpowiedz3" class="form-control text-black" />
                    <button type="submit" class="btn btn-success">Odpowiedz3</button>
                </div>
                <div class="form-group">
                    <input asp-for="Odpowiedz4" class="form-control text-black" />
                    <button type="submit" class="btn btn-success">Odpowiedz4</button>
                </div>
                <div class="form-group">
                    <input asp-for="Odpowiedz5" class="form-control text-black" />
                    <button type="submit" class="btn btn-success">Odpowiedz5</button>
                </div>
                <div class="form-group">
                    <input asp-for="Odpowiedz6" class="form-control text-black" />
                    <button type="submit" class="btn btn-success">Odpowiedz6</button>
                </div>
            </form>
</div>