@using Projekt_Programowanie.Models
@{
    ViewData["Title"] = "Generator";
}
@model GenerowanaKrzyzowka
<style>
    #pole_krzyzowki {
        width: 800px;
        height: 1000px;
        display: grid;
        place-items: center;
        background-color: #ccff99;
    }

    #kratka {
        width: 50px;
        height: 50px;
        border: solid;
        border-color: green;
        color: forestgreen;
        font-size: inherit;
    }

</style>
<form method="post" asp-action="Generator">
<div style="display: grid; place-items: center;" class="text-center">
    <h1 class="display-4 fw-bold">Witaj Przybyszu!</h1>
    <p>Tu będzie generator... Kiedyś</p>
    <div id="pole_krzyzowki">
        <table width="600" height="600">
            @for (int row = 0; row < Model.RozwiazywanaKrzyzowka.GetLength(0); row++)
            {
                <tr>
                    @for (int col = 0; col < Model.RozwiazywanaKrzyzowka.GetLength(1); col++)
                    {
                        <td id="kratka">
                            @Model.RozwiazywanaKrzyzowka[row, col]
                        </td>
                    }
                </tr>
            }
        </table>
                <div class="form-group">
                    <input type="text" name="odp1" class="form-control text-black" />
                </div>
                <div class="form-group">
                <input type="text" name="odp2" class="form-control text-black" />

                </div>
                <div class="form-group">
                <input type="text" name="odp3" class="form-control text-black" />

                </div>
                <div class="form-group">
                <input type="text" name="odp4" class="form-control text-black" />

                </div>
                <div class="form-group">
                <input type="text" name="odp5" class="form-control text-black" />

                </div>
                <div class="form-group">
                <input type="text" name="odp6" class="form-control text-black" />
                <button type="submit" class="btn btn-outline-success float-right" asp-action="Generator">Rozwiaz</button>
                </div>
</div>
</form>