@using Projekt_Programowanie.Models.MODELS
@model Pytanie
@{
    ViewData["Title"] = "Dodaj Pytanie";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Dodaj Pytanie</h4>
        </p>
        <div class="form-group">
            <div class="col-md-8 offset-2">
                <form asp-action="DodajPytanie">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Tresc" class="control-label">Treść Pytania:</label>
                        <input asp-for="Tresc" class="form-control" />
                        <span asp-validation-for="Tresc" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Trudnosc" class="control-label">Trudność:</label>
                        <input asp-for="Trudnosc" class="form-select-sm" />
                        <span asp-validation-for="Trudnosc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Odpowiedz" class="control-label">Odpowiedź:</label>
                        <select asp-for="Odpowiedz" class="form-select" />
                        @foreach (var item in ViewData["Slowa"] as IEnumerable<Slowo>)
                        {
                            <option value="@item.ID_Slowa">@item.NazwaSlowa</option>
                        }
                        <span asp-validation-for="Odpowiedz" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 mb-5">
                        <input class="btn btn-outline-success float-right" type="submit" asp-controller="Home" asp-action="Dodaj" />
                        <a class="btn btn-outline-secondary" asp-controller="Cross" asp-action="Cross">Anuluj</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

