@using Projekt_Programowanie.Models.MODELS
@model IEnumerable<Pytanie>
@{
    ViewData["Title"] = "Dodaj pytanie lub odpowiedź";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4 style="font-size:xx-large">Generator Krzyżówki</h4>
        </p>
        <div class="form-group">
            @foreach (var item in Model)
            {
                <div style ="color:forestgreen; font-size:x-large" class="text">@item.Tresc</div>
            }
        </div>
    </div>
</div>