@using Projekt_Programowanie.Models.MODELS
@model Pytanie
@{
    ViewData["Title"] = "Usuń Pytanie";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger">
    Czy na pewno chcesz usunąć pytanie: <strong>@Model.Tresc</strong>?
</div>

<form method="post" action="@Url.Action("PotwierdzUsuniecie/{id}","Question")">
    @Html.HiddenFor(model => model.ID_Pytania)
    <input class="btn btn-outline-decline float-right" type="button" asp-controller="Question" asp-action="PotwierdzUsuniecie/{id}" />
    <a class="btn btn-secondary" asp-controller="Question" asp-action="Question">Anuluj</a>
</form>
