@{
    ViewData["Title"] = "Dodaj pytanie lub odpowiedź";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Generator Krzyżówki</h4>
        </p>
        <div class="form-group">
            <div class="col-md-8 offset-2">
                <p>Trudność:</p>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 offset-2">
                <p>ID Wzoru:</p>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 offset-2">
                <p>Nazwa użytkownika:</p>
                <textarea></textarea>
            </div>
        </div>
        <div class="form-group mt-3 mb-5">
            <input class="btn btn-outline-success float-right" type="submit" value="Generuj" />
        </div>
</div>
</div>
