@{
    ViewData["Title"] = "Opis";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <p>
        Aplikacja ma pozwalać tworzyć krzyżówkę o
        określonym wzorze. Po stworzeniu daje użytkownikowi możliwość zachowania
        powstałej krzyżówki, lub wygenerowanie nowej. Użytkownik może przystąpić do
        rozwiązania krzyżówki. Po poprawnym ukończeniu wyświetli się wynik z ilością
        wykorzystanego czasu. Rozwiązaną krzyżówkę można przypisać do użytkownika.
        W czasie rozwiązywania krzyżówki poprawność nie jest sprawdzana na bieżąco,
        tylko po kliknięciu ‘sprawdź’ mając wszystkie słowa wpisane następuje
        weryfikacja poprawności wpisanych słów.
    </p>
</ul>
